version: "3.9"

services:
  admin-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://host.docker.internal:5000
    volumes:
      - ./:/app:cached
      - node_modules:/app/node_modules 
    command: sh -c "npm install && npm run dev -- --host"

volumes:
  node_modules:
